body{
	color: #333333;
	font-family: 'Bitter', serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2em;
	background:url(../images/website1.jpg) no-repeat;
	background-size: cover;

}
#slogan{
	font-family: Tahoma, Geneva, sans-serif
	font-style: italic;
}
